*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
}

main{
    height: 100vh;
    background-image: url(../img/ford.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    display: grid;
    align-content: center;
}

.menulist{
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   top: 0%;
   width: 100%;
}
 
header ul li{
    list-style: none;
    float: left;
}

header ul li a{
    color: white;
    padding-right: 30px;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;

}

header ul li a i{
    color: white;
    padding-right: 10px;
    text-decoration: none;
}

header h1{

    padding-left: 30px;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}

.banner{
    position: relative;
    margin-left: 20px;
    color: white;
    animation: fadeIn 5s;
}
  

.banner h1{
    font-size: 3rem;
    font-weight: 700;
}

.banner h4{
    font-size: 2rem;
    font-weight: 500;
}

.banner p{
    font-size: 1.5rem;
    font-weight: 300;
}


.CTA{
    position: absolute;
    bottom: 10px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom-right-radius:20px;
    border-top-right-radius:20px;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-shadow: 15px 10px black;
    animation: fadeIn 20s;
}



.CTA li{
    list-style: none;
    float: left;
    padding: 30px;
}

.CTA li a{
    font-size: 1.2rem;
    font-weight: 900;
    padding:20px;
    color: white;
    text-decoration: none;
    border-right: 1px solid white; 
    text-decoration: underline white;  
}

.links{
    position: absolute;
    right: 50px;
    color: white;
    top: 80%;
    animation: fadeIn 20s;
}

.links i{
    padding: 20px;
    width:60px;
}


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }




  